<section>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-md-2 col-md-offset-5">
                            <p>{{title}}</p>

                            <form method="post" action="/selectUserView">

                                <select id="leagueRulesSelect" class="form-control">
                                    <option value="student"> Student</option>
                                    <option value="Professor"> Professor</option>
                                </select>
                                <br/>
                                <input type="submit" id="save" class="btn btn-primary pull-left"
                                       value="Enter"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>